<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--指定无需鉴权资源路径-->
    <security:http security="none" pattern="/css/**"></security:http>
    <security:http security="none" pattern="/plugins/**"></security:http>
    <security:http security="none" pattern="/img/**"></security:http>
    <security:http security="none" pattern="/errorpages/**"></security:http>
    <security:http security="none" pattern="/pages/login.jsp"></security:http>

    <!--配置Security-->
    <security:http auto-config="true" use-expressions="true">
        <!--指定需要鉴权的路径-->
        <security:intercept-url pattern="/**" access="hasAnyRole('ROLE_ORDERS','ROLE_PRODUCT','ROLE_ADMIN')"></security:intercept-url>
        <!--配置自定义登录页面-->
        <security:form-login login-page="/pages/login.jsp"
                             login-processing-url="/login"
                             authentication-success-forward-url="/pages/main.jsp"
                             authentication-failure-url="/errorpages/failer.jsp"></security:form-login>

        <!--配置记住我-->
        <security:remember-me remember-me-cookie="TimeOut" token-validity-seconds="3600"></security:remember-me>
        <!--配置退出-->
        <security:logout invalidate-session="true" logout-success-url="/pages/login.jsp" logout-url="/logout"></security:logout>
        <!--关闭跨服务器-->
        <security:csrf disabled="true"></security:csrf>
    </security:http>
    <!--配置授权管理器-->
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userService">
            <!--指定密码加密类-->
            <security:password-encoder ref="bCryptPasswordEncoder"></security:password-encoder>
        </security:authentication-provider>
    </security:authentication-manager>
    <!--创建密码加密类-->
    <bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>
</beans>